<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REFIT</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
    <style>
        .half {
            flex: 1;
            align-items: center;
        }
        .image-preview {
            max-width: 25%;
            max-height: auto;
            object-fit: contain;
        }
        #resultArea {
            text-align: center;
        }
        #videoContainer {
            width: 100%;
            height: 300px;
        }
        #videoElement {
            width: 100%;
            height: 100%;
        }
        .scroll-container {
            width: 75%;
            overflow-x: scroll;
        }
        .scroll-content {
            white-space: nowrap; /* 내용이 수평으로 한 줄로 표시되도록 함 */
        }
    </style>
    <script>
        let videoStream;

        function handleClick() {
            alert("버튼이 클릭되었습니다!");
        }

        function showResult(result) {
            var resultDiv = document.getElementById("result");
            resultDiv.innerHTML = result;
        }

        function showImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    var imageElement = document.createElement("img");
                    imageElement.setAttribute("src", e.target.result);
                    imageElement.setAttribute("class", "image-preview");

                    var imageContainer = document.getElementById("imageContainer");
                    imageContainer.innerHTML = "";
                    imageContainer.appendChild(imageElement);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function startWebcam() {
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function(stream) {
                        var videoElement = document.getElementById("videoElement");
                        videoElement.srcObject = stream;
                        videoStream = stream;
                    })
                    .catch(function(error) {
                        console.error("Error accessing webcam:", error);
                    });
            } else {
                console.error("Webcam access not supported by browser.");
            }
        }

        function stopWebcam() {
            if (videoStream) {
                videoStream.getTracks().forEach(function(track) {
                    track.stop();
                });
                var videoElement = document.getElementById("videoElement");
                videoElement.srcObject = null;
                videoStream = null;
            }
        }

        var container = document.querySelector('.scroll-container');
            container.addEventListener('wheel', function(event) {
            event.preventDefault(); // 기본 스크롤 동작 막기
            container.scrollLeft += event.deltaY; // 스크롤 컨테이너를 휠 움직임에 따라 좌우로 스크롤
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">REFIT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">AI 캠페인 매칭</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">의류 나눔 게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">기부 캠페인 리스트</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">근처 의류 수거함 찾기</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-success" type="submit">마이페이지</button>
            </form>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="d-flex justify-content-end">
        <div class="col-md-6">
            <div class="half">
                <h4>당신의 의류를 넣어주세요!</h4>
                <br>
                <input type="file" name="image" accept="image/*" onchange="showImage(this)">
                <div id="imageContainer"></div>
                <input type="file" name="image" accept="video/*" onchange="startWebcam(this)">
                <div id="videoStream"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="half">
                <div class="result-area">
                    <h4>refit이 감정한 결과는?</h4>
                    <textarea rows="4" cols="50">
                        1. 이것은 의류입니다.
                        2. 의류를 분리수거하는 방법은?
                        3. 제일 가까운 옷 정리방을 추천해드릴게요!
                        4. 이게 지금 뭐하는 거냐
                    </textarea>
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<form class="d-flex justify-content-center" role="search">
    <button class="btn btn-outline-success" href="" type="submit">기부하시겠습니까?</button>
    <button class="btn btn-outline-success" href="" type="submit">나눔하시겠습니까?</button>
</form>
<br>
<br>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.H7y7XINg5dcXwuf8WcHDEwHaHa?w=188&h=188&c=7&r=0&o=5&pid=1.7" class="card-img-top" style="width: 300px; height: 200px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">옷캔 X 아름다운 세상</h5>
          <p class="card-text">총 1000만원의 상금을 당신께</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.H7y7XINg5dcXwuf8WcHDEwHaHa?w=188&h=188&c=7&r=0&o=5&pid=1.7" class="card-img-top" style="width: 300px; height: 200px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">오늘의 집 주관 프로젝트</h5>
          <p class="card-text">100kg 청바지 모으기 프로젝트</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <img src="https://th.bing.com/th/id/OIP.H7y7XINg5dcXwuf8WcHDEwHaHa?w=188&h=188&c=7&r=0&o=5&pid=1.7" class="card-img-top" style="width: 300px; height: 200px;" alt="...">
        <div class="card-body">
          <h5 class="card-title">친환경으로 지구 구하기 시즌 2</h5>
          <p class="card-text">GS 리테일과 함께하는 친환경 캠페인</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>